/* You can add global styles to this file, and also import other style files */
.column1{
    background-color: #5CB3FF;
    color: white;
    border-style: groove;
    border-color: aquamarine;
    border-radius: 10px;
    padding: 10px 0px;
    margin: 10px 0px;
    font-family: 'Times New Roman', Times, serif;
}



.row1{
    border-style: ridge;
    border-width: 2px;
    border-color: aqua;
    border-radius: 10px;
    padding: 11px 0px;
    margin: 15px 0px;
}
.column2{
    background-color: #E3E4FA;
    border-style: groove;
    border-color: aquamarine;
    border-radius: 10px;
    color: #25383C;
    margin: 15px 0px;
    padding: 7px 0px;
}
.user11{
    color: #C88141;
}
.i1{
    background-color: #E5E4E2;
    border-style: groove;
    border-color: aquamarine;
    border-width: 2px;
    border-radius: 10px;
    color: #191970;
    font-weight: 600;
    
}
.btn-del{
    margin-left: 10px;
}